<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: sans-serif;
  background-color: blanchedalmond;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:large;
    margin: 12px;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
}
/* HERO Section */

    #hero::after {
        content:normal;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color:white;
        opacity: .7;
        z-index: -1;
    }
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: black;
    animation: text-reveal .5s ease forwards;
    animation-delay: 1ss;
}
#hero h1:nth-child(1) {
  animation:text_reveal_name .5s ease forwards;  
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
 animation:text_reveal_name .5s ease forwards;   
 animation-delay: 2s;
}
#hero h1:nth-child(3) {
 animation: text_reveal_name .5s ease forwards;
 animation-delay: 3s;
}
#hero h1 span {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s ;
}
#hero h1:nth-child(1) span {
animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#hero .cta {
    display: inline-block;
    padding: 10 px 30px;
    color: black;
    background-color: crimson;
    border: 2px solid ;
    font-size: 2rem;
    text-transform: uppercase;
     letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color;
}
#hero .cta:hover {
    color: black;
    background-color: pink;
}
/*HERO Section */

/* keyframes */
@keyframes text_reveal_box{
    50% {
        width: 100%;
        left:0;
    }
    100% {
        width:0;
        left: 100%;
    }
}
@keyframes text_reveal_name {
    100% {
        color: black;
    } 
}
@keyframes text_reveal_name {
    100% {
        color: crimson;
        font-weight: 500;
    }
}
/*  End of keyframes */
nav {
    display: flex;
    width: 80%;
   margin: auto ;
   padding: 20px ;
   align-items: right;
   justify-content: space-between;
   font-family: sans-serif;
}



nav ul li a:hover {
    color:rgb(247, 13, 142);
}
.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    background-image: red;
}
.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
    transition: bottom 1s left 1s;
}